<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoopRacer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1CB6F612E7518BD00B9186C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1CB6F6E2E7518BE00B9186C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1CB6F782E7518BE00B9186C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
